<template>
<tbody>
        
    <tr>
        <template v-if="isEdit">
            
            <td width="35%">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input name="Dirección" id="Dirección" class="form-control" v-model="edit_.line_1"/>
                    <span style="color:red">{{ errors[0] }}</span>
            </ValidationProvider>
            </td>
            <td width="10%">
                <ValidationProvider rules="required|postal_code" v-slot="{ errors }">
                    <input type="number" name="Código postal" id="postal_code-opostal" class="form-control" v-model="edit_.postal_code"/>
                    <span style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
            </td>
            <td width="10%">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input name="Población" id="country" class="form-control" v-model="edit_.country"/>
                    <span style="color:red">{{ errors[0] }}</span>
            </ValidationProvider>
            </td>
            <td width="10%">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input name="Provincia" id="city" class="form-control" v-model="edit_.city"/>
                    <span style="color:red">{{ errors[0] }}</span>
            </ValidationProvider>
            </td>
            <td width="10%">
                <ValidationProvider rules="required" v-slot="{ errors }">
                    <input name="País" id="state" class="form-control" v-model="edit_.state"/>
                    <span style="color:red">{{ errors[0] }}</span>
                </ValidationProvider>
            </td>
            <td width="10%">
                <select v-model="edit_.default" class="form-select">
                    <option v-for="(option, key) in options" :value="option.value" :key="key">
                        {{ option.text }}
                    </option>
                </select>
            </td>
        </template>
        <template v-else>
            <td v-html="direction.line_1"></td>
            <td>{{ direction.postal_code}}</td>
            <td>{{ direction.country}}</td>
            <td>{{ direction.city }}</td>
            <td>{{ direction.state }}</td>
            <td>{{ direction.default == null ? 'No' : 'Si'}}</td>
        </template>
        
        
        <td width="10%">
            <button class="btn btn-dark btn-sm" type="button" @click="editBtn" v-if="!isEdit"><i class="fas fa-edit"></i></button>
            <button class="btn btn-dark btn-sm" type="button" @click="updateBtn" v-if="isEdit" :disabled="invalid"><i class="fas fa-save"></i></button>

            <button class="btn btn-dark btn-sm" type="button" @click="showDeleteModal()" v-if="!isEdit"><i class="fas fa-trash"></i></button>
            <button class="btn btn-dark btn-sm" type="button" @click="cancelBtn" v-if="isEdit"><i class="fas fa-times"></i></button>

            <button class="btn btn-dark btn-sm" type="button" @click="viewMore" v-if="!isEdit"><i class="fas fa-eye"></i></button>
        </td>
            

    </tr>

    <tr v-show="view">
        <td colspan="6">
            <table class="table table-dark table-striped table-sm" >
                    <tbody>
                        <tr>
                            <th scope="col">Teléfono</th>
                            <td v-if="isEdit">
                                <ValidationProvider rules="required|min:9" v-slot="{ errors }">
                                    <input type="number" name="Teléfono" id="phone" class="form-control" v-model="edit_.phone"/>
                                    <span style="color:red">{{ errors[0] }}</span>
                                </ValidationProvider>
                            </td>
                            <td v-else>{{ direction.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Comentarios</th>
                            <td v-if="isEdit">
                                <input type="text" class="form-control" v-model.trim="edit_.comments"/>
                            </td>
                            <td v-else>{{ direction.comments }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Atención</th>
                            <td v-if="isEdit">
                                <input type="text" class="form-control" v-model.trim="edit_.name"/>
                            </td>
                            <td v-else>{{ direction.name }}</td>
                        </tr>
                    </tbody>
                </table>
        </td>
    </tr>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteDirection" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered bg-transparent" role="document">
            <div class="modal-content bg-light bg-gradient">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" v-html="message"></div>

                <div class="btn-group p-1" role="group">
                    <button type="button" class="btn btn-sm btn-dark" @click="deleteBtn">Si</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                </div>
            
            </div>
        </div>
        
    </div>
    <loading :show="processing" label="Procesando formulario..."></loading>
</tbody>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    import loading from 'vue-full-loading';

	export default{
		components: {
            ValidationProvider,
            ValidationObserver,
            loading
        },
		props: {
            postalcode: {
                type: Array,
                required: true,
            },
            municipios: {
                type: Array,
                required: true,
            },
            direction: {
                type: Object,
                required: true,
            },
            invalid: {
                type: Boolean,
                required: true,
            }
        },
		mixins: [],
  		
		data: ()=>({
			edit_: {
                line_1: null,
                postal_code: null,
                country: null,
                city: null,
                state: null,
                phone: null,
                comments: null,
                default: 'no',
            },
            send : false,
            processing: false,
            isEdit: false,
            view: false,
            message: "<h5>¿Esta seguro de eliminar la dirección?</h5>",
            options: [
                { text: 'Si', value: '1' },
                { text: 'No', value: null },
            ],
			errores:  [],
			erroresServidor: [],
		}),
		created(){
			
		},
		mounted(){
            this.cloneDirection();
        },
        watch: {
            'edit_.postal_code'(val){
                var search = val.length == 4 ? `0${val.substring(0,1)}` : val.substring(0,2);
                
                if(val != null && val.length >= 4){
                    var city = this.postalcode.find(item => item.id == search);
                    var country = this.municipios.find(item => item.id == val);
                    
                    if(typeof(city) == 'object'){
                        this.edit_.city =  city['nombre'];
                    }else{
                        this.edit_.city = null;
                        this.edit_.country = null;
                    }

                    if(typeof(country) == 'object'){
                        this.edit_.country =  country['nombre'];
                    }else{
                        this.edit_.country = null;
                    }
                    
                    this.edit_.state = "España";
                }else{
                    this.edit_.city = null;
                    this.edit_.country = null;
                }
            },
            
        },
		computed:{
            sendForm: {
                get() {
                    return this.invalid && this.send; 
                },
                set(newValue) {
                    this.send = newValue;
                }
                  
            }
        },
		methods:{
            cloneDirection(){
                this.edit_ = _.clone(this.direction);
                this.edit_.line_2 = this.decode(this.edit_.line_2);
                this.edit_.line_1 = this.decode(this.edit_.line_1);
                this.edit_.comments = this.decode(this.edit_.comments);
                this.edit_.name = this.decode(this.edit_.name);
            },
            decode(str){
                
                return str == null ? '' : he.decode(str);
            },

			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.direction);
            },
            
			editBtn(){
                this.isEdit = !this.isEdit;
                this.view = true;
            },

            cancelBtn(){
                this.isEdit = false;
                this.view = false;
            },

            viewMore(){
                this.view = !this.view;
            },

            showDeleteModal() {
                $('#deleteModal').modal('show');
            },

            async deleteBtn() {
                const self = this;
                const data = self.direction;
                
                try{
                   // await window.axios.delete('directions/destroy', {params: {direction: JSON.stringify(data) }});
                    await window.axios({method: 'DELETE', url: `/customer/directions/destroy`, params: data });
                    self.$snotify.success("Dirección eliminada!", "Tu dirección se ha eliminado con éxito", {
                        width: 500,
                        timeout: 5000,
                        showProgressBar: false,
                        closeOnClick: false,
                        pauseOnHover: true
                    });
                    self.$webBus.$emit("directions:pagination:fired");
                    $('#deleteModal').modal('hide');
                    self.isEdit = false;
                    self.view = false;

                }catch (e){
                    if (e.response.data.hasOwnProperty("errors")) {
                        for (let error in e.response.data.errors) {
                            self.$snotify.error("Error al eliminar", e.response.data.errors[error][0], {
                                width: 500,
                                timeout: 5000,
                                showProgressBar: false,
                                closeOnClick: false,
                                pauseOnHover: true
                            });
                        }
                    } else {
                        self.$snotify.error("Error", "Ha ocurrido un error en el servidor", {
                            width: 500,
                            timeout: 5000,
                            showProgressBar: false,
                            closeOnClick: false,
                            pauseOnHover: true
                        });
                    }
                }finally{
                    
                }
        
            },

            async updateBtn() {
                const self = this;
                const data = self.edit_;
                try{
                   
                    await window.axios({method: 'PUT', url: `/customer/directions/update`, params: data });
                    self.$snotify.success("Dirección actualizada!", "", {
                        width: 500,
                        timeout: 5000,
                        showProgressBar: false,
                        closeOnClick: false,
                        pauseOnHover: true
                    });
                    self.$webBus.$emit("directions:pagination:fired");
                    self.isEdit = false;
                    self.view = false;

                }catch (e){
                    if (e.response.data.hasOwnProperty("errors")) {
                        for (let error in e.response.data.errors) {
                            self.$snotify.error("Error validación", e.response.data.errors[error][0], {
                                width: 500,
                                timeout: 5000,
                                showProgressBar: false,
                                closeOnClick: false,
                                pauseOnHover: true
                            });
                        }
                    } else {
                        self.$snotify.error("Error", "Ha ocurrido un error en el servidor", {
                            width: 500,
                            timeout: 5000,
                            showProgressBar: false,
                            closeOnClick: false,
                            pauseOnHover: true
                        });
                    }
                }finally{
                    
                }
        
            },

			updateItem(item){
                axios.put('directions/update', item).then((response) => {
                    //this.filtered = response.data.items.data;
                    window.location.reload();
                }, (error) => {
                    window.location.reload();
                    console.log(error.response);
                })
            },
		}
    }
</script>

<style scope>

input[type="number"]{
    background:revert;
    color: initial;
    font-size: inherit;
    text-align: inherit;
}


</style>