<template>
<tbody>
    <tr>
        <template v-if="isEdit">
            <td width="35%"><input type="text" class="form-control" v-model="edit_.line_1" v-html="edit_.line_1"/></td>
            <td width="10%"><input type="text" class="form-control" v-model.trim="edit_.postal_code"/></td>
            <td width="10%"><input type="text" class="form-control" v-model.trim="edit_.country"/></td>
            <td width="10%"><input type="text" class="form-control" v-model.trim="edit_.city"/></td>
            <td width="10%"><input type="text" class="form-control" v-model.trim="edit_.state"/></td>
            <td width="10%">
                <select v-model="edit_.default" class="form-select">
                    <option v-for="(option, key) in options" :value="option.value" :key="key">
                        {{ option.text }}
                    </option>
                </select>
            </td>
        </template>
        <template v-else>
            <td v-html="item.line_1"></td>
            <td>{{ item.postal_code}}</td>
            <td>{{ item.country}}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.default == '1' ? 'Si' : 'No' }}</td>
        </template>
        
        
        <td width="10%">
            <button class="btn btn-dark btn-sm" type="button" @click="editBtn" v-if="!isEdit"><i class="fas fa-edit"></i></button>
            <button class="btn btn-dark btn-sm" type="button" @click="updateBtn" v-if="isEdit"><i class="fas fa-save"></i></button>

            <button class="btn btn-dark btn-sm" type="button" @click="showAddSongModal()" v-if="!isEdit"><i class="fas fa-trash"></i></button>
            <button class="btn btn-dark btn-sm" type="button" @click="cancelBtn" v-if="isEdit"><i class="fas fa-times"></i></button>

            <button class="btn btn-dark btn-sm" type="button" @click="viewMore" v-if="!isEdit"><i class="fas fa-eye"></i></button>
        </td>
    </tr>

    <tr v-show="view">
        <td colspan="6">
            <table class="table" >
                    <tbody>
                        <tr>
                            <th scope="col">Teléfono</th>
                            <td v-if="isEdit"><input type="text" class="form-control" v-model.trim="edit_.phone"/></td>
                            <td v-else>{{ item.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Comentarios</th>
                            <td v-if="isEdit"><input type="text" class="form-control" v-model.trim="edit_.comments"/></td>
                            <td v-else>{{ item.comments }}</td>
                        </tr>
                        <tr>
                            <th scope="col">Atención</th>
                            <td v-if="isEdit"><input type="text" class="form-control" v-model.trim="edit_.name"/></td>
                            <td v-else>{{ item.name }}</td>
                        </tr>
                    </tbody>
                </table>
        </td>
    </tr>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteDirection" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" v-html="message"></div>

                <div class="btn-group p-1" role="group">
                    <button type="button" class="btn btn-sm btn-dark" @click="deleteBtn">Si</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                </div>
            
            </div>
        </div>
    </div>
</tbody>
</template>

<script>

	export default{
		components: {
		   
		   
		  
        },
        props: {
            postalcode: {
                type: Array,
                required: true
            },
            municipios: {
                type: Array,
                required: true
            },

            item: {
                type: Array,
                required: true
            },
        },

		
		mixins: [],
  		
		data: ()=>({
			edit_: {
                    line_1: null,
                    postal_code: null,
                    country: null,
                    city: null,
                    state: null,
                    phone: null,
                    comments: null,
                    default: 'no',
                },
            isEdit: false,
            view: false,
            message: "<h5>¿Esta seguro de eliminar la dirección?</h5>",
            options: [
                { text: 'Si', value: '1' },
                { text: 'No', value: null },
            ],
			errores:  [],
			erroresServidor: [],
		}),
		created(){
			
        },
        watch: {
            'edit_.postal_code'(val){
                console.log(val);
                if(this.edit_.postal_code != null && this.edit_.postal_code.length >= 4){
                    this.edit_.city =  this.postalcode.find(item => item.id == search)['nombre'];
                    this.edit_.country = this.municipios.find(item => item.id == this.edit_.postal_code.toString())['nombre'];
                    this.edit_.state = "España";
                }
            },
            
        },
		mounted(){
            this.edit_ = _.clone(this.item);
            this.edit_.line_2 = this.decode(this.edit_.line_2);
            this.edit_.line_1 = this.decode(this.edit_.line_1);
            this.edit_.comments = this.decode(this.edit_.comments);
            this.edit_.name = this.decode(this.edit_.name);

		},
		computed: {
			
		},
		methods:{
            decode(str){
                
                return str == null ? '' : he.decode(str);
            },
			cancelar(){
		        this.isEdit = false;
		        this.edit_ = _.clone(this.item);
		    },
			editBtn(){
                this.isEdit = !this.isEdit;
                this.view = true;
            },

            cancelBtn(){
                this.isEdit = false;
                this.view = false;
            },

            viewMore(){
                this.view = !this.view;
            },
			updateBtn(){
				this.$emit('update', this.edit_);
                this.isEdit = false;
                this.view = false;
				
            },
            showAddSongModal() {
                $('#deleteModal').modal('show');
            },
			deleteBtn(){
                this.$emit('delete', this.edit_);
                $('#deleteModal').modal('hide');
                this.isEdit = false;
                this.view = false;
			},
		}
    }
</script>

<style scope lang="scss">


</style>