//stylus admin.styl -c -w
//stylus public/static/css/admin.styl -c -w
//$color_theme = #2caaff;	
$color_theme = #004a6b;
body
	background-color #f5f6fa;
	font-size 14px;
	font-family: 'Roboto', sans-serif;

::-webkit-scrollbar
	width 5px;
	right 5px;
	position absolute;
	&-thumb
		background $color_theme;
		border-radius 10px

.scrollbox
	overflow auto;
	visibility hidden;
	padding 15px 10px 15px 0;
	height 60%;

.scrollbox-inner,
.scrollbox:hover
	visibility visible;

h2,h3,h4,h5,ul,body,html
	padding 0px;
	margin 0px;

a
	text-decoration none;
	&:hover
		text-decoration none;
.form-control
	&:focus
		box-shadow none;
		outline none;		
.mtop16
	margin-top 16px;

.wrapper
	min-height 100vh;
	overflow hidden;
	.col1
		float left;
		position relative;
		z-index 999;
		width 17%;
	.col2
		float left;
		position relative;
		width 83%;
.sidebar
	background-color #ffffff;
	min-height 100vh;
	.section-top
		background-color: $color_theme;
		box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15);
	.logo
		display block;
		margin 0px auto;
		padding-top 24px;
		padding-bottom 24px;
		width 90%;
	.logo-small
		display none;
	.user
		color #fff!important;
		padding 16px;
		a
			color #ffffff;
			font-size 1.2em;
	.main
		display block;
		margin-top 8px;
		ul
			li
				margin-bottom 4px;
				a
					color #8998ac!important;
					display block;
					font-size 1.1em;
					padding 12px 12px;
					i 
						margin-right 10px;
					&:hover
						background-color: $color_theme;
						box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15);
						color #ffffff !important;
						text-decoration none;
					&.active
						background-color: $color_theme;
						box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15);
						color #ffffff !important;
						text-decoration none;
.navbar
	background-color $color_theme;
	color #ffffff!important;
	z-index 9999;
	ul
		display inline-block;
		float left;
		margin-right 12px;
		li
			display inline-block;
			position relative;
			a
				color #333333;
				display inline-block;
				padding 10px;
				text-decoration none;
				&:hover
					a
						color #333333;
						display inline-block;
						padding 10px;
						text-decoration none;
				
			ul
				background-color #ffffff;
				border 1px solid #f0f0f0;
				display none;
				float none;
				position absolute;
				right -16px;
				width 200px;
				li
					display inline-block;
					border-bottom 1px solid #f0f0f0;
					width 100%;
					&:hover
						a
							color #fff!important;
							background $color_theme;
					&:last-child
						border-bottom 0px;
					a
						color $color_theme!important;
						display block;
			&:hover
				ul
					display block;
.empty-results
	background-color #d82a4e
	font-size 24px
	padding 40px
	text-align center
	color #fff
	

.page
	padding-top 16px;
	padding-bottom 16px;
	height calc(100vh - 110px);
	overflow auto;
	.error-block
		color #721c24;
		background-color #f8d7da;
		border-color #f5c6cb;
		position relative;
		padding 1px 0px 1px 10px;
		margin-bottom 1rem;
		border 1px solid transparent;
		border-radius .25rem;
	.has-error
		border-color #ff0000;
	.breadcrumb
		background-color #ffffff;
		box-shadow 0 0.5rem 1rem rgba(0,0,0,0.10)!important;
		.breadcrumb-item
			a
				&:hover
					text-decoration none;
	.panel
		background-color #ffffff;
		border-radius 6px;
		border-bottom 2px solid $color_theme;
		width 100%;
		.header
			h2.title
			.form-switch
				padding 12px 16px;
			border-bottom 1px solid #e8e8e8;
			h2.title
				display inline-block;
				color #19213d;
				font-size 1.1em;
			ul
				display inline-block;
				float right;
				margin-right 12px;
				li
					display inline-block;
					position relative;
					a
						color #333333;
						display inline-block;
						padding 10px;
						text-decoration none;
						&:hover
							background-color #f6f6f6;
							color #222222;
						i 
							color $color_theme;
					ul
						background-color #ffffff;
						border 1px solid #f0f0f0;
						display none;
						float none;
						position absolute;
						right -16px;
						width 200px;
						li
							display inline-block;
							border-bottom 1px solid #f0f0f0;
							width 100%;
							&:last-child
								border-bottom 0px;
							a
								display block;

					&:hover
						ul
							display block;
		.inside
			padding 16px;
			.nav
				.nav-link
					border-bottom 1px solid $color_theme;
					border-right 1px solid $color_theme;
					margin-right 8px;
					&:hover, &:active, &.active
						background-color $color_theme!important;
						color #ffffff;
						
			.form_search
				display none;
				margin-bottom 16px;
				.btn
					width 100%;
			.big_count
				display block;
				font-size 2em;
				text-align center;
				width 100%;

			.video_container
				text-align center;
				video
					border 5px solid $color_theme;
					width 330px;
				
					
			
.opts
	a
		border-radius 4px;
		border 1px solid #dedede;
		display inline-block;
		padding 8px 12px;

.product_gallery
	overflow hidden;
	.btn-submit
		display block;
		margin-right 1%;
		width 100%;
		a	
			border 1px dashed #666666; 
			border-radius 4px;
			color #333333
			display block;
			font-size 1.5em;
			text-align center;
			padding 12px;
			width 100%
			&:hover
				background-color $color_theme;
				color #ffffff;

.tumbs
	overflow hidden;
	.tumb
		margin-top 16px;
		float left;
		position relative;
		width 48%;
		a
			background-color rgba(0,0,0,0.5);
			border-radius 50%;
			display inline-block;
			color #ffffff;
			padding 6px 10px;
			position absolute;
			bottom 8px;
			right 8px;
		img 
			border-radius 4px;
			width 100%;
		&:nth-child(odd)
			margin-right 4%;

.page_user
	.mini_profile
		.avatar
			display block;
			margin 0px auto;
			border-radius 50%;
			width 150px;
		.info
			background #ffffff;
			span 
				display block;
				font-size 1.1em;
				width 100%;
			span.title
				font-weight bold;
				margin-top 16px;
		.btn
			margin-top 16px;
			width 100%



@media (max-width: 994px)
	.wrapper
		.col1
			text-align center;
			width 7%;
			min-width 20px;
			span
				display none;
		.col2
			width 93%;
	.sidebar
		.section-top
			.logo
				display none
			.logo-small
				padding-top 5px;
				display block;
				img
					width 40px
					
@media (max-width: 600px)
	.wrapper
		.col1
			width 10%;
		.col2
			width 90%;
	.sidebar
		.section-top
			.logo-small
				img
					width 25px
