body
	background-color #f6f6f6
	font-size 14px
	margin 0px

.mtop16
	margin-top 16px

.box
	background-color #ffffff
	border-radius 8px
	border 1px solid #d6d6d6
	position absolute
	width 500px
	.btn-success
		background-color #E85722
		border 0px
		width 100%
	.form-control
	&:focus
	&:active
		outline none 
		box-shadow none
	.inside
		padding 16px
	.header
		background-color grey
		border-radius 8px 8px 0px 0px
		padding 16px
		text-align center
		a
			img
				display block
				width 100%
	.footer
		text-align center
		a
			display inline-block
			font-size .8em
			&:last-child
				margin-left 24px
			
			

.box_login
	left calc(50% - 250px)
	top calc(50% - 183px)

.box_register
	left calc(50% - 250px)
	top calc(50% - 366px)
