body{
	background-color: #f5f6fa;
	background-image: url('/fondos/fondo-estatico.jpg');
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	background-size: 110% 110%;
	background-position: center center;
	animation: shrink 1.5s infinite alternate;
}

#canvas {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}



@keyframes shrink {
	0% {
	  background-size: 120% 120%;
	}
	100% {
	  background-size: 100% 100%;
	}
  }