$color_text = #ffffff;
$color_theme = #004a6b;
$background_color = #f5f6fa;

body
	align-items center;
	background-color $background_color;
	display flex;
	font-size 14px;
	justify-content center;
	font-family 'Roboto', sans-serif;
	min-height 100vh;
	
::-webkit-scrollbar
	width 5px;
	right 5px;
	position absolute;
	&-thumb
		background #FEF0FF
		border-radius 10px

.scrollbox
	overflow auto;
	visibility hidden;
	padding 15px 10px 15px 0;
	height 60%;

.scrollbox-inner,
.scrollbox:hover
	visibility visible;

.modal-content
	background rgba(0,0,0,0.7) !important;

.list-group-item
	border none!important;
#content-modal
	.modal-content
		background rgb(255, 255, 255,0.75) !important;
		color #000;
		box-shadow 0px 0px 10px 2px #ddd9d9;
	.modal-header
		border-bottom none;	
.alert
	position absolute !important;
	right 0;
	left 0;
	width 75%;
	margin-left auto;
	margin-right auto;

.mynav
	position relative;
	display flex;
	flex-wrap wrap;
	align-items center;
	justify-content space-between;

.mapa, .profile
	background url('/storage/web/fondo.jpg') no-repeat center center fixed; 
	-webkit-background-size cover;
	-moz-background-size cover;
	-o-background-size cover;
	background-size cover;
	min-height 100vh;

h2,h3,h4,h5,ul,body,html
	padding 0px;
	margin 0px!important;
	
/*------------------
  Form errors
---------------------*/
.form-errors
	background-color #d82a4e;
	padding-top 10px;
	position absolute;
	left 0;
	right 0;
	margin-left auto;
	margin-right auto;
	width 75%;
	border-radius 0 0 20px 20px;
	z-index 1;
	p
		color #fff !important;
		text-align center;

#content
	width 100%;
	min-height 100vh;
	transition all 0.3s;
	#sidebarCollapse
		color $color_text;
		font-size 2em;
		right 20px;
		top 20px;
	.header__logo
		padding 25px;
		float left;
	.header
		position absolute;
		left 0;
		right 0;
		height 200px;
		line-height 66px;
		color #fff;
		z-index 1;
	.text-black
		color #000;
	.profile
		color #000;
	.wrapper-container
		height 100%;
		padding-top 200px;

.sidebar
	width 0;
	background rgba(0,0,0,0.7);
	color #fff;
	transition all 0.3s;
	height 100vh;
	position fixed;
	top 0;
	right 0;
	/* top layer */
	z-index 9999;
	text-align center;
	overflow-x visible;
	/*transition 0.5s;*/
	.list-group-item
		padding 2px;
	a
		transition 0.3s;
		color #fff;
		text-decoration none;
		padding 20px!important;
		&:hover
			color #004a6b;
	.sidebar_footer
		overflow auto;
		padding 15px 0 30px 15px;
		position absolute;
		bottom 0;
		overflow auto;
		.list-group-item
			padding 0px!important;
			a
				padding 0px!important;
	.closebtn
		padding 15px 20px 0px 20px;
		span
			font-size 30px;
			top 0;
			left 20px;
			position absolute;
			cursor pointer;
		&:hover
			color #004a6b;
		
	.mapabtn
		background transparent;
		padding 0px 20px 0px 20px;
		a
			h1
				margin-top -20px;
	.btnOpenForm
		display block;
		text-align left;
		cursor pointer;
		font-size 2em;
		margin-right 10px;
		span
			font-size 1.5rem;
			
	.formulario_login
		display block;
		position absolute;
		transform translate3d(-253px,3px,0px);
		top 0;
		left 0;
		will-change transform;
		width 100%;
		background rgba(0,0,0,0.75);
		border-radius 4px;
		padding 10px;	
		a
			color #fff;
			text-decoration none;
			padding 0px;
			margin-top 5px;
			padding inherit!important;
			&:hover
				color #004a6b;
	
		.logged 
			a
				color #fff;
				text-decoration none;
				padding 0px;
				margin-top 5px;
				&:hover
					color  #004a6b;

	.openbtn 
		transition-delay 0.3s;
		color #fff;
		font-size 2em;
		right 20px;
		top 20px;

	.cart
		top 80px;
		left 20px;
		position absolute;
		width 40px;
		height 40px;
		color #000;
		font-weight bold;
		cursor pointer;
		&:after
			content attr(cart);
			font-size 15px;
			background #fff;	
			border-radius 50%;
			padding 5px;
			position relative;
			left 15px;
			top -40px;
			opacity .9;		
	
.footer
	position fixed;
	left 0;
	bottom 0;
	width 85%;
	background-color $background_color;
	
.active-sidebar
	margin-right 350px;

.btn_active
	display none;

/* Hide scrollbar for Chrome, Safari and Opera */
.informacion-webkit-scrollbar
	display none;

.close
	position absolute;
	right 20px;
	top 20px;
	font-size 2em;

#bgvideo
	z-index: -100;
	position fixed;
	right 0px;
	bottom 0px;
	min-width 100%;
	min-height 100%;
	width auto;
	height auto;

	video
		display block;

#modalInicio
	.modal-content
		background transparent!important;
		.modal-body
			button
				z-index 999999;
		
.tumbs
	overflow hidden;
	.tumb
		margin-top 16px;
		float left;
		position relative;
		width 400px;
		height 400px;
		background rgba(255,255,255, 0.75);
		margin 1%;
		border-radius 50%;
		overflow hidden;
		.data
			padding-top 1px;
			position absolute;
			bottom 20px;
			text-align center;
			width 100%;
		
		img
			padding-top 15px;
.tumb
	overflow hidden;
	background-color rgba(255,255,255,0.8);
	max-height 600px;
	max-width 600px;
	border-radius 50%;
	.data
		padding-top 1px;
		position absolute;
		bottom 20px;
		text-align center;
		.title
			a
				color #000000;
				text-decoration none;
	
	img
		padding-top 15px;

input[type="number"]
	background black;
	color #ffffff;
	font-size 20px;
	text-align center;

.btn-cart
	color #fff;
	background-color #000000;
	border-color #171a1d;
	border-radius 0px;
	border none;
	&:hover
		color #ffffff
		background-color #171a1d;
.cart-text
	display block;
.cart-icon
	display none;	
.light
	.title-page
		color #000!important;
	.openbtn
		color $color_theme!important;
.dark
	.title-page
		color #fff !important;
	.openbtn
		color #fff !important;
		
.title-page
	a
		text-decoration none;




.pagination
	display flex;
	padding-left 0;
	list-style none;
	border-radius 0.25rem;

.page-link
	position relative;
	display block;
	padding 0.5rem 0.75rem;
	margin-left -1px;
	line-height 1.25;
	color $color_theme;
	background-color #fff;
	border 1px solid #dee2e6;
	&:hover
		z-index: 2;
		color $color_theme;
		text-decoration none;
		background-color #e9ecef;
		border-color #dee2e6;
	&:focus
		z-index 3;
		outline 0;
		box-shadow 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
		
.page-item
	&:first-child 
		.page-link
			margin-left 0;
			border-top-left-radius 0.25rem;
			border-bottom-left-radius 0.25rem;
	&:last-child
		.page-link
			border-top-right-radius 0.25rem;
			border-bottom-right-radius 0.25rem;
	&.active
		.page-link
			z-index 3;
			color #fff;
			background-color #000;
			border-color #000;
	&.disabled
		.page-link
			color #6c757d;
			pointer-events none;
			cursor auto;
			background-color #fff;
			border-color #dee2e6;

.pagination-lg
	.page-link
		padding 0.75rem 1.5rem
		font-size 1.125rem;
		line-height 1.5;
	.page-item
		&:first-child
			.page-link
				border-top-left-radius 0.3rem;
				border-bottom-left-radius 0.3rem;
		&:last-child
			.page-link
				border-top-right-radius 0.3rem;
				border-bottom-right-radius 0.3rem;

.pagination-sm
	.page-link
		padding 0.25rem 0.5rem;
		font-size 0.7875rem;
		line-height 1.5;
	.page-item
		&:first-child
			.page-link
				border-top-left-radius 0.2rem;
				border-bottom-left-radius 0.2rem;
		&:last-child
			.page-link
				border-top-right-radius 0.2rem;
				border-bottom-right-radius 0.2rem;

@keyframes shrink
	0%
		background-size 110% 110%;
	100%
		background-size 100% 100%;

.invalid-feedback
	font-size .716rem!important;
	
@media screen and (max-width: 770px)
	#content
		.wrapper-container
			padding-top 240px;
@media screen and (max-width: 750px)
	.header__logo
		width 300px;
	.header 
		h2
			text-align center;
			font-size 30px;
		h1
			text-align center;
			font-size 30px;


@media (max-width: 950px) and (orientation: landscape)
	.header__logo
		width 150px;
		padding 10px!important;
	.header
		display block;
		height inherit!important;
	.sidebar
		font-size 0.5rem;
		padding-top 15px;
		a
			font-size 15px;
			padding 10px!important;
		h6
			font-size 0.8rem;
		.btnOpenForm
			span
				font-size .8rem;
		.mapabtn
			padding 0px;
			a
				h1
					margin-top -13px;
					margin-right 9px;
					font-size 1.5rem;
				h4
					font-size 1rem;
		.closebtn
			h1
				margin-top -12px;
				margin-right 10px;
		.formulario_login
			width 190px;
			transform translate3d(-193px,3px,0px);
			a
				margin 0px;
				font-size 12px;
	.active-sidebar
		margin-right 150px;
	.scrollbox
		display none;
	.cart-text
		display none;
	.cart-icon
		display block;

@media screen and (max-width: 500px)
	.sidebar
		font-size 0.5rem;
		padding-top 15px;
		a
			font-size 15px;
			padding 10px!important;
		h6
			font-size 0.8rem;
		.btnOpenForm
			span
				font-size .8rem;
		.mapabtn
			background transparent!important;
			padding 0px;
			a
				h1
					margin-top -13px;
					margin-right 9px;
		.closebtn
			h1
				margin-top -12px;
				margin-right 10px;
		.formulario_login
			width 190px;
			transform translate3d(-193px,3px,0px);
			a
				margin 0px;
				font-size 12px;
	.active-sidebar
		margin-right 150px;
	.scrollbox
		height 55%;

	
	
	