<template>
    <tr>
        <td>{{ order.total_amount | toCurrency }}</td>
        <td>{{ order.created_at }}</td>
        <td>{{ order.status }}</td>
        <td>{{ lines_count }}</td>
        <td>{{ order.shipping_cost | toCurrency }}</td>
       <td>
            <a class="btn btn-outline-light" @click="downloadInvoice">
                <i class="fas fa-file-download"></i>
            </a>
            <a class="btn btn-outline-light" @click="viewInvoice">
                <i class="fa fa-eye"></i>
            </a>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "OrderRow",
        props: {
            order: {
                type: Object,
                required: true
            }
        },
        computed:{
            lines_count(){
                let me = this;
               
                return _.sumBy(me.order.lines , 'quantity')
            }
        },
        methods: {
            downloadInvoice() {
               this.$webBus.$emit("orders:download", this.order);
            },
            viewInvoice() {
               this.$webBus.$emit("orders:view", this.order);
            }
        }
    }
</script>
