<template>
    <div>
        <vue-snotify />
        <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="onSubmit">
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="dirección">Dirección</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input name="Dirección" id="Dirección" class="form-control" v-model="form.line_1"/>
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="postal_code">Código postal</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input type="number" name="Código postal" id="postal_code-opostal" class="form-control" v-model="form.postal_code"/>
                                
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>

                    <div class="col-md-3 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="country">Población</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input name="Población" id="country" class="form-control" v-model="form.country"/>
                                
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>

                    <div class="col-md-3 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="city">Provincia</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input name="Provincia" id="city" class="form-control" v-model="form.city"/>
                                
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>

                    <div class="col-md-3 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="state">País</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input name="País" id="state" class="form-control" v-model="form.state"/>
                                
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 mt-2">
                        <ValidationProvider rules="required" v-slot="{ errors }">
                            
                            <label for="phone">Teléfono</label>
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="far fa-keyboard"></i>
                                </span>
                                <input type="number" name="Teléfono" id="phone" class="form-control" v-model="form.phone"/>
                                
                            </div>
                            <span style="color:red">{{ errors[0] }}</span>
                        </ValidationProvider>

                    </div>
                    
                    <div class="col-md-3 mt-2">
                        <label for="default">Por defecto:</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="far fa-keyboard"></i>
                            </span>
                            <select class="form-select" v-model="form.default">
                                <option value="yes">Si</option>
                                <option value="no">No</option>
                                
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <label for="comments">Comentarios:</label>
                        <div class="input-group">
                            <textarea class="form-control" id="comments" rows="3" v-model="form.comments"></textarea>
                        </div>
                    </div>  
                </div>

                <hr />

                <button type="submit" class="btn btn-dark btn-block" :disabled="invalid">
                    Crear dirección
                </button>
            </form>
        </ValidationObserver>
        
        <loading
            :show="processing"
            label="Procesando formulario..."
        >
        </loading>
    </div>
</template>

<script>
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    import loading from 'vue-full-loading';
    export default {
        name: "DirectionsForm",
        components: {
            ValidationProvider,
            ValidationObserver,
            loading
        },

        props: {
            postalcode: {
                type: Array,
                required: true
            }
        },

        data () {
            return {
                processing: false,
                form: {
                    line_1: null,
                    postal_code: null,
                    country: null,
                    city: null,
                    state: null,
                    phone: null,
                    content: null,
                    default: 'no',
                }
            }
        },

        watch: {
            'form.postal_code'(val){
                if(this.form.postal_code != null && this.form.postal_code.length >= 4){
                    var search = this.form.postal_code.length == 4 ? `0${this.form.postal_code.substring(0,1)}` : this.form.postal_code.substring(0,2);
                    if(search == 51 || search == 52 || search == 35 || search == 38){
                        this.invalid = false;
                    }
                    this.form.city =  this.postalcode.find(item => item.id == search)['nombre'];
                    
                }
            },
            
        },

        computed:{
            postalCode(){
                if(this.form.postal_code != null && this.form.postal_code.length >= 4){
                    var search = this.form.postal_code.length == 4 ? `0${this.form.postal_code.substring(0,1)}` : this.form.postal_code.substring(0,2);
                    return this.postalcode.find(item => item.id == search);
                    return search;
                }
                    
            }
        },
        methods: {
            async onSubmit() {
                const self = this;
                const data = self.form;
                self.processing = true;

                try{
                    await window.axios({method: 'POST', url: `/customer/directions`, data});

                    self.$snotify.success("Dirección creada!", "Tu dirección se ha creado con éxito", {
                        width: 500,
                        timeout: 5000,
                        showProgressBar: false,
                        closeOnClick: false,
                        pauseOnHover: true
                    });
                    self.$webBus.$emit("directions:new");
                    Object.assign(self.$data, self.$options.data());

                }catch (e){
                    if (e.response.data.hasOwnProperty("errors")) {
                        for (let error in e.response.data.errors) {
                            self.$snotify.error("Error de validación", e.response.data.errors[error][0], {
                                width: 500,
                                timeout: 5000,
                                showProgressBar: false,
                                closeOnClick: false,
                                pauseOnHover: true
                            });
                        }
                    } else {
                        self.$snotify.error("Error", "Ha ocurrido un error en el servidor", {
                            width: 500,
                            timeout: 5000,
                            showProgressBar: false,
                            closeOnClick: false,
                            pauseOnHover: true
                        });
                    }
                }finally{
                    self.processing = false;
                }
        
            },

            getPostalCodeRegex() {
                if (this.form.country == "United States") {
                    return /^[0-9]{5}(?:-[0-9]{4})?$/;
                } else if (this.form.country == "Canada") {
                    return /^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$/;
                } else if(this.form.country == "España"){
                    return /^[0-5][1-9]{3}[0-9]$/;
                }
                return /./;
            },
            getPhoneRegex() {
                if (["United States", "Canada"].includes(this.form.country)) {
                    return /^[2-9]\d{2}[2-9]\d{2}\d{4}$/;
                }
                return /./;
            },
        }
    }
</script>

<style lang="scss" scoped>
    @import "~vue-wysiwyg/dist/vueWysiwyg.css";
    input[type="number"] {
        background: none;
        color: inherit;
        font-size: inherit;
        text-align: inherit;
    }
</style>
