<template>
    <thead>
        <tr>
            <th scope="col">Coste total</th>
            <th scope="col">Fecha del pedido</th>
            <th scope="col">Estado</th>
            <th scope="col">Número de artículos</th>
            <th scope="col">Portes</th>
            <th scope="col" v-if="!details">Acciones</th>
           
        </tr>
    </thead>
</template>

<script>
    export default {
        name: "OrdersThead",
        props: {
            details: {
                type: Boolean,
                required: true
            }
        },
    }
</script>
