<template>
    <table class="table table-dark table-striped">
        <slot name="orders-thead" />
        <slot name="orders-tbody" />
    </table>
</template>

<script>
    export default {
        name: "OrdersTable",
    }
</script>
