<template>
    <div class="container-fluid">
        <div class="w-100 d-flex flex-row-reverse">
            <button type="button" class="btn btn-outline-dark m-2" @click="viewDetails()" v-if="details">Cerrar</button>
        </div>
       <div class="card mb-3">
            <div class="card-body">
                <orders-table>
                    <template slot="orders-thead">
                        <orders-thead :details="details"/>
                    </template>

                    <template slot="orders-tbody" v-if="!details">
                        <orders-tbody v-if="orders.length">
                            <orders-row v-for="order in orders" :order="order" :key="order.id"/>
                        </orders-tbody>

                        <orders-tbody v-else>
                            <tr>
                                <td colspan="6">
                                    <div class="empty-results">
                                        No hay ningún pedido todavía.
                                    </div>
                                </td>
                            </tr>
                        </orders-tbody>
                    </template>

                    <template slot="orders-tbody" v-else>
                        <orders-tbody>
                            <tr>
                                <td>{{ order.total_amount | toCurrency }}</td>
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.status }}</td>
                                <td>{{ lines_count }}</td>
                                <td>{{ order.shipping_cost | toCurrency }}</td>
                            </tr>
                        </orders-tbody>
                    </template>
                </orders-table>
                
                <orders-table v-if="details">
                    <template slot="orders-thead">
                        <thead>
                            <tr class="text-center">
                                <th>Producto</th>
                                <th>Unidades</th>
                                <th>Precio unidad</th>
                                <th v-if="viewDiscount">Descuento</th>
                                <th>Precio Total</th>
                            </tr>
                        </thead>
                    </template>

                    <template slot="orders-tbody">
                        <tbody>
                       
                            <tr class="text-center" v-for="line in lines" :key="line.id">
                                <td>{{ line.product.name }}</td>
                                <td>{{ line.quantity }}</td>
                                <td>{{ line.formatted_price }}</td>
                                <td v-if="viewDiscount"> {{ discount(line.discount) }} </td>
                                <td>{{ line.price_total | toCurrency}}</td>
                                
                            </tr>
                        
                        </tbody>
                       
                    </template>
                </orders-table>
            </div>

            <div class="card-footer" v-if="!details">
                <orders-pagination :pagination="pagination" />
            </div>
        </div>
    </div>
</template>

<script>
    import OrdersTable from "./OrdersTable";
    import OrdersThead from "./OrdersThead";
    import OrdersTbody from "./OrdersTbody";
    import OrdersRow from "./OrdersRow";
    import OrdersPagination from "./OrdersPagination";
    
    export default {
        name: "Orders",
        components: {OrdersPagination, OrdersRow, OrdersTbody, OrdersThead, OrdersTable},
       
        data() {
            return {
                viewDiscount: false,
                orders: [],
                page: 1,
                pagination: {
                    current_page: 1,
                    total: 0,
                    per_page: 10
                },
                details: false,
                order: [],
            }
        },
        computed:{
            lines_count(){
                let me = this;
               
                return _.sumBy(me.order.lines , 'quantity')
            },
            lines(){
                return this.order.lines;
            },
            
        },
        async mounted() {
            
            await this.fetchOrders();

            this.$webBus.$on("orders:pagination:fired", async (page) => {
                this.page = page;
                await this.fetchOrders();
            });
            
            this.$webBus.$on("orders:new", async () => {
                this.page = 1;
                await this.fetchOrders();
                
            });

            this.$webBus.$on("orders:download", async (order) => {
                await this.downloadInvoice(order);                
            });

            this.$webBus.$on("orders:view", async (order) => {
                this.details = true;
                this.order = order;       
            });
        },
        methods: {
            async fetchOrders() {
                const { data: { data: orders, meta: pagination } } = await window.axios
                    .get(`/customer/orders/json?page=${this.page}`);
                this.orders = orders;
                this.pagination = pagination;
            },

            async downloadInvoice(order) {
                const date =  order.created_at;
                
            
                await window.axios.get(`/customer/order/download?id=${order.id}`, {responseType: 'blob'} ).then(({ data })   => {
                    
                    const downloadUrl = window.URL.createObjectURL(new Blob([data]));
                    const link = document.createElement('a');
                    link.href = downloadUrl;
                    link.setAttribute('download', `mundial souvenir - ${date.substring(0,10)}.pdf`);
                    document.body.appendChild(link);
                    link.click();
                    link.remove();

                });
            },

            discountIcon(discount){
                let icon = '';
                if(discount == "PERCENT"){
                    icon = "%";
                }else if(discount == "PRICE"){
                    icon = "€";
                }
                
                return icon;
            },

            viewDetails(){
                this.details = false;
                this.page = 1;
                this.fetchOrders();
            },

            discount(line){
                console.log(line);
                if(line.discount == null){
                    this.viewDiscount = false;
                }

                return line.discount + this.discountIcon(line.discount_type);
            }
        }
    }
</script>

<style lang="stylus" scoped>

</style>