<template>
    <div class="float-right">
        <pagination
            v-model="page"
            :options="options"
            :records="pagination.total"
            :page="pagination.current_page"
            :per-page="pagination.per_page"
            @paginate="paginate"
        />
    </div>
</template>

<script>
    import Pagination from "vue-pagination-2";
    export default {
        name: "DirectionsPagination",
        components: {Pagination},
        props: {
            pagination: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                page: 1,
                options: {
                    theme: "bootstrap4",
                    texts: {
                        count: "Mostrando {from} a {to} de {count} registros|{count} registros|Un registro",
                        first: "Primero",
                        last: "Último"
                    }
                }
            }
        },
        methods: {
            paginate(page) {
                this.$webBus.$emit("directions:pagination:fired", page);
            }
        }
    }
</script>
