<template>
    <thead>
        <tr>
            <th scope="col">Dirección</th>
            <th scope="col">C.P.</th>
            <th scope="col">Población</th>
            <th scope="col">Provincia</th>
            <th scope="col">País</th>
            <th scope="col">Por defecto</th>
            <th scope="col"></th>
        </tr>
    </thead>
</template>

<script>
    export default {
        name: "DirectionsThead"
    }
</script>
