<template>
    <table class="table table-dark table-striped">
        <slot name="directions-thead" />
        <slot name="directions-tbody" />
    </table>
</template>

<script>
    export default {
        name: "DirectionsTable",
    }
</script>
