<template>
    <tr>
        <td>{{ direction.line_1 }}</td>
        <td>{{ direction.postal_code }}</td>
        <td>{{ direction.country }}</td>
        <td>{{ direction.city }}</td>
        <td>{{ direction.state }}</td>
        <td>{{ direction.default == '1' ? 'Si' : 'No' }}</td>
        <td>Acciones</td>
    </tr>
</template>

<script>
    export default {
        name: "DirectionsRow",
        props: {
            direction: {
                type: Object,
                required: true
            }
        }
    }
</script>
