<template>
    <div class="container-fluid">
        <vue-snotify />
        <ValidationObserver v-slot="{ invalid }">
            <div class="position-absolute" style="top: 0;right: 0;">
                <button class="btn btn-dark float-right" @click="openForm()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            
        
            <div class="card mb-3 mt-5" v-if="!newDirection">
                <!--div class="card-header">
                    <h2 class="text-muted text-center mt-2 mb-1">
                        Direcciones ({{ pagination.total }})
                    </h2> 
                </div-->
                <div class="card-body">
                    <table class="table table-dark table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Dirección</th>
                                <th scope="col">C.P.</th>
                                <th scope="col">Población</th>
                                <th scope="col">Provincia</th>
                                <th scope="col">País</th>
                                <th scope="col">Por defecto</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        
                        <directions-row :invalid="invalid" v-for="direction in directions" :direction="direction" :key="direction.id" :postalcode="postalcode" :municipios='municipios'/>
                        
                        
                    </table>
                        </div>

                        <div class="card-footer">
                            <directions-pagination :pagination="pagination" />
                        </div>
                    </div>

            <div class="card mb-4 mt-5" v-if="newDirection">
                <div class="card-body">
                    <directions-form :postalcode="postalcode" :municipios='municipios'/>
                </div>
            </div>
        </ValidationObserver>
    </div>
</template>

<script>
    import DirectionsTable from "./DirectionsTable";
    import DirectionsThead from "./DirectionsThead";
    import DirectionsTbody from "./DirectionsTbody";
    //import DirectionsRow from "./DirectionsRow";
    import DirectionsRow from "../partials/directions/DirectionsRow";
    import DirectionsPagination from "./DirectionsPagination";
    import DirectionsForm from "./DirectionsForm";
    import { ValidationProvider, ValidationObserver } from 'vee-validate';
    export default {
        name: "Directions",
        components: {
            DirectionsForm,
            DirectionsPagination,
            DirectionsRow,
            DirectionsTbody,
            DirectionsThead,
            DirectionsTable,
            ValidationProvider,
            ValidationObserver
        },
        props: {
            postalcode: {
                type: Array,
                required: true
            },
            municipios: {
                type: Array,
                required: true
            },
        },
        data() {
            return {
                directions: [],
                page: 1,
                pagination: {
                    current_page: 1,
                    total: 0,
                    per_page: 10
                },
                newDirection: false
            }
        },
        async mounted() {
            
            await this.fetchDirections();
            this.$webBus.$on("directions:pagination:fired", async (page) => {
                this.page = page;
                await this.fetchDirections();
            });
            
            this.$webBus.$on("directions:new", async () => {
                this.page = 1;
                this.newDirection = !this.newDirection;
                await this.fetchDirections();
                
            });
        },
        
        methods: {
            openForm(){
                this.newDirection = !this.newDirection;
            },
            async fetchDirections() {
                const { data: { data: directions, meta: pagination } } = await window.axios
                    .get(`/customer/directions/json?page=${this.page}`);
                this.directions = directions;
                this.pagination = pagination;
            },
        }
    }
</script>

<style lang="stylus" scoped>

</style>