<template>
    <div class="table">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">Dirección</th>
                    <th scope="col">C.P.</th>
                    <th scope="col">Población</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">País</th>
                    <th scope="col">Por defecto</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            
            <crud-component v-for="(item, key) in filtered" :item="item" :key="key" @update="updateItem($event)" @delete="deleteItem($event)"></crud-component>
                
              
        </table>
    </div>
</template>

<script>
    import crud from '../partials/directions/directions_row';

    export default {
        /*props:{
            direction: {
                type: Object,
                required: true,
            }
        },*/
        props:['data'],
        name: 'directions',
        components: {
            'crud-component': crud,
        },
        data:() => ({
            edit: false,
            directions: [],
        }),
        computed:{
            filtered: {
                get() {
                    return this.directions; 
                },
                set(newValue) {
                    this.directions = newValue;
                }
                  
            }
        },
            
        mounted() {
            this.directions = this.data.data;
        },

        methods:{
            updateItem(item){
                axios.put('directions/update', item).then((response) => {
                    //this.filtered = response.data.items.data;
                    window.location.reload();
                }, (error) => {
                    window.location.reload();
                    console.log(error.response);
                })
            },
            deleteItem(item){
                
                axios.delete('directions/destroy', {params: {direction: JSON.stringify(item) }}).then((response) => {
                    //window.location.reload();
                    console.log(error.response);
                }, (error) => {
                    //  window.location.reload();
                    console.log(error.response);
                })
            },
        }
    }
</script>
